// assets/scss/_variables.scss

$black:       #262626;
$green:       #3EC486;
$green-light: #23F694;
$blue:        #321BDE;
$primary:     $blue;

$headings-font-family:   "Roboto", sans-serif;
$headings-font-weight:   400;